html{height: 100%;
	min-height: 1000px;
	min-width: 1200px;}
body{
	height: 100%;
	background: url(/images/login.jpg) center top;
	background-repeat:no-repeat;
	background-size:100% auto;
	overflow: hidden;
}
.login{
	position: relative;
	width: 26%;
	margin: 0 auto;
	margin-top: 20.5%;
}
.login form{
	width: 80%;
	margin: 0 auto;
}
/* .login form .captcha-input{
	width:20%;
} */
.login select{
	padding: 0;
	font-size:12px;
}
.form-group {
    margin-bottom: 0 !important;
    margin-top: 10px;
}
.login input{
	height: 30px;
}
.login button{
	width: 100%;
}
.alert-danger{
	width: 80%;
	position: fixed;
	top: 0;
	left: 10%;
}
.register{
position: absolute;
top:-14%;
left: 53%;
color:white;
}